@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 5%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(0, 0%, 5%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(0, 0%, 5%);

    --primary: hsl(211, 66%, 21%);
    --primary-foreground: hsl(0, 0%, 98%);

    --secondary: hsl(0, 0%, 96%);
    --secondary-foreground: hsl(0, 0%, 5%);

    --muted: hsl(0, 0%, 96%);
    --muted-foreground: hsl(0, 0%, 45%);

    --accent: hsl(0, 0%, 96%);
    --accent-foreground: hsl(0, 0%, 5%);

    --destructive: hsl(0, 84%, 60%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(0, 0%, 92%);
    --input: hsl(0, 0%, 85%);
    --ring: hsl(0, 0%, 76%);

    --radius: 0.5rem;
}

.dark {
    --background: hsl(240, 3%, 6%);
    --foreground: hsl(0, 0%, 98%);

    --card: hsl(210, 6%, 7%);
    --card-foreground: hsl(0, 0%, 98%);

    --popover: hsl(210, 6%, 7%);
    --popover-foreground: hsl(0, 0%, 98%);

    --primary: hsl(211, 66%, 21%);
    --primary-foreground: hsl(0, 0%, 98%);

    --secondary: hsl(210, 5%, 15%);
    --secondary-foreground: hsl(0, 0%, 98%);

    --muted: hsl(210, 5%, 22%);
    --muted-foreground: hsl(210, 5%, 49%);

    --accent: hsl(211, 45%, 14%);
    --accent-foreground: hsl(0, 0%, 98%);

    --destructive: hsl(0, 84%, 60%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(200, 5%, 12%);
    --input: hsl(210, 4%, 18%);
    --ring: hsl(211, 66%, 40%);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
@theme {
    --color-main-color: #123458;

    --color-text-black: #212121;
    --color-text-gray: #868686;

    --color-border-gray: #d1d5db;
    --color-error-red: #ef4444;
    --color-warning-orange: #f59e0b;
    --color-success-green: #10b981;

    --color-disabled-gray: #9ca3af;
    --color-background-gray: #f1f1f1;

    --text-font-size: 16px;
}

@font-face {
    font-family: "Pretendard";
    src: url("/src/font/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("/src/font/Pretendard-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("/src/font/Pretendard-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard";
    src: url("/src/font/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

body {
    line-height: 1;
    font-family:
        "Pretendard",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-sonner-toast][data-type="success"] {
    background: #f9fcff !important;
    border-color: rgba(96, 165, 250, 0.2) !important;
    color: #60a5fa !important;
}

[data-sonner-toast][data-type="success"] [data-icon] {
    color: #60a5fa !important;
}
